.ACCEUIL{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    border-radius: 10%;
    width: 45%;
    height: 85.2vh;
    background-color: aqua;
    transition: 1s;
}

.ACCEUIL:hover{
    transform: scale(1.025);
}