<section class="Navbar">
    <div>
        <nav>
            <h1><a [routerLink] = "['Acceuil']">VOTING<span> DAIA</span></a></h1>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <button [routerLink]="['Login']" id="Sign_butt" type="button">Login</button>
                </li>
            </ul>
        </nav>
    </div>
</section>
<router-outlet />

