<section class="Navbar">
    <div>
        <nav>
            <h1>VOTING<span> DAIA</span></h1>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#"><img src="metro_search_11261.png" alt="search" ></a>
                </li>
            </ul>
        </nav>
    </div>
</section>

