* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    color: white;
}

.Navbar {
    width: 100%;
    height: 10vh;
    background-color: rgb(22, 22, 22);
    text-align: justify;
}

span {
    font-size: xx-large;   
    color: #3dbfa7;
    transition: transform 0.3s ease, color 0.3s ease;
}

span:hover{
    transform: scale(1.1);
    color: white;
}

h1 a {
    font-size: xx-large;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

h1 a:hover {
    transform: scale(1.1);
    color: #3dbfa7;
}

nav {
    padding-top: 2rem;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 90px;
    display: inline;
    justify-content: end;
    scroll-behavior: smooth;
}

nav ul li a {
    scroll-behavior: smooth;
    margin: 2.1rem;
    color: white;
    text-decoration: none;
    transition: 0.8s;
}

nav ul li a:hover {
    color: #3dbfa7;
}

nav ul li #Sign_butt {
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
    padding: 0.4rem 2rem;
    border-radius: 10px;
    transition: 0.8s;
}

nav ul li #Sign_butt:hover {
    cursor: pointer;
    transform: scale(1.1);
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3dbfa7;
    transition: width 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}
