<section class="Navbar">
    <div>
        <nav>
            <h1>VOTING<span> DAIA</span></h1>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Vote</a>
                </li>
                <li>
                    <button id="Sign_butt" type="button">sign up</button>
                </li>
            </ul>
        </nav>
    </div>
</section>

