<section class="login">
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="post">
          <div class="form-group">
            <label for="username">Email:</label>
            <input type="email" id="Email" name="Email" [required]="true">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="form-group">
            <input type="submit" value="Login">
          </div>
          <!-- <div class="Auth_google">
            <input type="submit" src="google_image.png">
          </div> -->
        </form>
      </div>
</section>
<router-outlet />